.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pregunta-container.shake {
  animation: shake 0.3s; /* Duración de la animación ajustada a 0.3s para que sea más rápida */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  15%, 45%, 75% { transform: translateX(-5px); }
  30%, 60%, 90% { transform: translateX(5px); }
}

.test {
  transition: transform 1s ease-in-out;
}

.test.desplazar {
  transform: translateY(-100vh); /* Mueve el div hacia arriba */
}

/* Margen fijo para todos los tamaños de pantalla */
.test {
  margin: 10px; /* Margen fijo */
  padding: 5px; /* Espaciado interno */
  box-sizing: border-box; /* Asegura que el padding y el margin no afecten el tamaño total */
}

/* Ancho máximo para pantallas no móviles */
@media (min-width: 768px) { 
  .test {
    width: 80%; /* Ancho máximo en pantallas más grandes (como tablets y escritorios) */
    max-width: 1200px; /* Evita que el contenido se extienda demasiado en pantallas muy grandes */
    margin-left: auto; /* Centra el contenido */
    margin-right: auto; /* Centra el contenido */
  }
}

/* Para dispositivos móviles, puedes ajustar el tamaño si es necesario */
@media (max-width: 767px) {
  .test {
    width: auto; /* En pantallas móviles, el ancho es el 100% */
  }
}

/* Animación para mover el div hacia arriba y ocultarlo */
@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh); /* Desplaza hacia arriba fuera de la pantalla */
    opacity: 0;
  }
}

/* Clase que aplica la animación para mover el div hacia arriba */
.test.move-up {
  animation: moveUp 1.5s forwards; /* La animación dura 1.5 segundos y se mantiene al final */
}

/* Animación para mover el div de vuelta a su posición original */
.test.reaparecer {
  animation: moveUp 1.5s reverse forwards;
  transform: translateY(0);
  opacity: 1;
}